@tailwind base;
@tailwind components;
@tailwind utilities;

.news-card:focus-within {
  box-shadow: 0 0 0 3px #fff;
}

.news-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
